$max-width-container: 1200px;
$padding-y-container: 60px;
$padding-x: 10px;
$padding-y: 15px;
$primary-color: #0282f9;
$footer-color: #303030;
$primary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
