$padding-y-container: 60px;
$max-width-container: 1360px;

$padding-x: 10px;
$padding-y: 15px;

$primary-color: #0282f9;
$primary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;

$footer-color: #303030;
